sudo: required
services:
 - docker

script:
  - echo "no tests!"

after_success:
 - docker build -t cmotta2016/ocsinventory2.5 .
 - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
 - docker push cmotta2016/ocsinventory:2.5
